<radial-gauge
  [value]="value"
  animate-on-init="true"
  animation-duration="1500"
  animation-rule="linear"
  border-shadow-width="0"
  borders="false"
  color-plate="#fff"
  height="170"
  ticks-angle="240"
  units="KM/h"
  value-box="false"
  highlights='[
        {"from": 80, "to": 120, "color": "rgba(200, 50, 50, .75)"}
    ]'
  major-ticks="0,10,20,30,40,50,60"
  max-value="120"
  min-value="0"
  minor-ticks="2"
  needle-circle-inner="false"
  needle-circle-outer="true"
  needle-circle-size="7"
  needle-type="arrow"
  needle-width="2"
  start-angle="60"
  stroke-ticks="true"
  width="170">
</radial-gauge>
