<div style="width: 181px">
  <app-button [carId]="carId"
              [key]="'y'" [name]="'Y'"
              style="margin-right: 7px"></app-button>
  <app-button [carId]="carId"
              [key]="'u'" [name]="'U'" style="margin-right: 7px"></app-button>
  <app-button [carId]="carId"
              [key]="'i'" [name]="'I'" style="margin-right: 7px"></app-button>
  <app-button [carId]="carId"
              [key]="'o'" [name]="'O'"></app-button>
</div>
<div style="margin-top: 7px">
  <app-button
    [carId]="carId" [key]="'h'" [name]="'H'" style="margin-right: 7px"></app-button>
  <app-button
    [carId]="carId" [key]="'j'" [name]="'J'" style="margin-right: 7px"></app-button>
  <app-button [carId]="carId"
              [key]="'k'" [name]="'K'" style="margin-right: 7px"></app-button>
  <app-button [carId]="carId"
              [key]="'l'" [name]="'L'"></app-button>
</div>
