<div class="row">
  <div class="col-12 col-md-6 col-lg-4" style="height: 400px">
    <ngx-charts-bar-vertical
      (select)="onSelect($event)"
      [gradient]="false"
      [results]="single"
      [scheme]="colorScheme"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Country'"
      [xAxis]="true"
      [yAxisLabel]="'Population'"
      [yAxis]="true">
    </ngx-charts-bar-vertical>
  </div>
  <div class="col-12 col-md-6 col-lg-4" style="height: 400px">
    <ngx-charts-pie-chart
      [labels]="true"
      [results]="single">
    </ngx-charts-pie-chart>
  </div>
</div>
