<div class="row">
  <div class="col">
    <ngx-charts-bar-vertical
      (select)="onSelect($event)"
      [gradient]="false"
      [legend]="true"
      [results]="single"
      [scheme]="colorScheme"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [view]="[500,400]"
      [xAxisLabel]="'Country'"
      [xAxis]="true"
      [yAxisLabel]="'Population'"
      [yAxis]="true">
    </ngx-charts-bar-vertical>
  </div>
  <div class="col">
    <ngx-charts-pie-chart
      [labels]="true"
      [legend]="true"
      [results]="single"
      [view]="[400,400]">
    </ngx-charts-pie-chart>
  </div>
  <div class="col">
    <ngx-charts-line-chart
      [autoScale]="true"
      [legend]="true"
      [results]="multi"
      [scheme]="colorScheme"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [view]="[500,400]"
      [xAxisLabel]="'Date'"
      [xAxis]="true"
      [yAxisLabel]="'GDP'"
      [yAxis]="true">
    </ngx-charts-line-chart>
  </div>
  <div class="col">
    <ngx-charts-polar-chart
      [autoScale]="true"
      [legend]="true"
      [results]="multi"
      [scheme]="colorScheme"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [view]="[400,400]"
      [xAxisLabel]="'Date'"
      [xAxis]="true"
      [yAxisLabel]="'GDP'"
      [yAxis]="true">
    </ngx-charts-polar-chart>
  </div>
</div>
