<div style="position: relative">
  <div #statsOutput class="stats"></div>
  <div #modelOutput id='modelOutput' class="model">
    <div style="position: absolute;bottom: 25px;left: 25px">
      <div class="d-flex justify-content-center" style="width: 134px">
        <app-button [key]="'w'" [name]="'W'"></app-button>
      </div>
      <div style="margin-top: 5px">
        <app-button [key]="'a'" [name]="'A'" style="margin-right: 7px"></app-button>
        <app-button [key]="'s'" [name]="'S'" style="margin-right: 7px"></app-button>
        <app-button [key]="'d'" [name]="'D'"></app-button>
      </div>
    </div>
    <div style="position: absolute;bottom: 25px;right: 25px">
      <div style="width: 181px">
        <app-button [key]="'y'" [name]="'Y'" style="margin-right: 7px"></app-button>
        <app-button [key]="'u'" [name]="'U'" style="margin-right: 7px"></app-button>
        <app-button [key]="'i'" [name]="'I'" style="margin-right: 7px"></app-button>
        <app-button [key]="'o'" [name]="'O'"></app-button>
      </div>
      <div style="margin-top: 7px">
        <app-button [key]="'h'" [name]="'H'" style="margin-right: 7px"></app-button>
        <app-button [key]="'j'" [name]="'J'" style="margin-right: 7px"></app-button>
        <app-button [key]="'k'" [name]="'K'" style="margin-right: 7px"></app-button>
        <app-button [key]="'l'" [name]="'L'"></app-button>
      </div>
    </div>
  </div>
</div>
