<nz-alert class="mb-3 d-block d-sm-none"
          nzMessage="请将手机切换为横屏进行操作！"
          nzShowIcon
          nzType="warning">
</nz-alert>
<div #container [nzGutter]="{ xs: 8, sm: 8, md: 12, lg: 16, xl: 20, xxl: 23 }"
     class="pt-3" nz-row style="background-color: #f0f2f5">
  <div class="mb-4" nz-col nzLg="5" nzMd="24">
    <nz-card [nzBodyStyle]="{'padding':'0'}" [nzTitle]="liveTitle"
             class="mb-4 card">
      <img *ngIf="car?.liveUrl;else elseBlock" [src]="car.liveUrl" alt="live" style="width: 100%">
      <ng-template #elseBlock>
        <img alt="live" src="https://via.placeholder.com/320x240" style="width: 100%">
      </ng-template>
    </nz-card>
    <ng-template #liveTitle>
      <i nz-icon nzTheme="outline" nzType="video-camera"></i> Live
    </ng-template>
    <nz-card [nzBodyStyle]="{'padding':'0'}" [nzTitle]="dashboardTitle"
             class="card">
      <div class="pt-3 px-4">
        <div class="d-flex justify-content-center mb-4">
          <app-battery-indicator></app-battery-indicator>
        </div>
        <div class="d-flex justify-content-center">
          <app-speedometer></app-speedometer>
        </div>
      </div>
      <ng-template #dashboardTitle>
        <i nz-icon theme="outline" type="dashboard"></i> 仪表盘
      </ng-template>
    </nz-card>
  </div>
  <div class="mb-3" nz-col nzLg="14" nzMd="24">
    <nz-card [nzBodyStyle]="{'padding':'0'}" [nzTitle]="modelTitle" class="card mb-5">
      <!-- <img alt="live" src="https://via.placeholder.com/320x240" style="width: 100%"> -->
      <app-model></app-model>
      <ng-template #modelTitle>
        <i nz-icon nzTheme="outline" nzType="eye"></i> 实时操作
      </ng-template>
    </nz-card>
    <div class="d-flex justify-content-center">
      <button (click)="startDrive()" [disabled]="car?.startDate||!available"
              class="mr-5" nz-button nzShape="circle" nzSize="large" nzType="primary">
        <i nz-icon nzTheme="outline" nzType="caret-right"></i>
      </button>
      <button (click)="finishDrive()" [disabled]="!car?.startDate||!available"
              nz-button nzShape="circle" nzSize="large" nzType="danger">
        <i nz-icon nzTheme="outline" nzType="pause"></i>
      </button>
    </div>
  </div>
  <div nz-col nzLg="5" nzMd="24">
    <nz-card [nzBodyStyle]="{'padding':'0'}" [nzTitle]="driverTitle"
             class="mb-3 card">
      <div *ngIf="!car?.currentDriver;else busy" class="p-4">
        无人使用
      </div>
      <ng-template #busy>
        <img [src]="car.currentDriver.avatar.id|image" alt="" style="width: 100%">
        <div class="pt-3 px-4 row">
          <div class="col-6 col-xl-4 mb-3">
            <div style="font-weight: bold">
              工号：
            </div>
            {{car.currentDriver.employeeId}}</div>
          <div class="col-6 col-xl-4 mb-3">
            <div style="font-weight: bold">
              姓名：
            </div>
            {{car.currentDriver.name}}
          </div>
          <div class="col-6 col-xl-4 mb-3">
            <div style="font-weight: bold">
              性别：
            </div>
            {{car.currentDriver.gender|gender}}
          </div>
          <div class="col-6 col-xl-4 mb-3">
            <div style="font-weight: bold">
              年龄：
            </div>
            {{car.currentDriver.age}}
          </div>
          <div class="col-12 col-xl-8 mb-3">
            <div style="font-weight: bold">
              加入时间：
            </div>
            {{car.currentDriver.createdDate|date:'yyyy年M月d日'}}
          </div>
        </div>
      </ng-template>
      <ng-template #driverTitle>
        <i nz-icon theme="outline" type="user"></i> 当前驾驶员信息
      </ng-template>
    </nz-card>
    <nz-card [nzBodyStyle]="{'padding':'0'}" [nzTitle]="carTitle"
             class="card">
      <div class="row pt-3 px-4">
        <div class="col-12 col-xl-6 mb-3">
          <div style="font-weight: bold">
            编号：
          </div>
          {{car?.carId}}
        </div>
        <div class="col-12 col-xl-6 mb-3">
          <div style="font-weight: bold">
            车辆类型：
          </div>
          {{car?.carName|car}}
        </div>
        <div class="col-12 col-xl-6 mb-3">
          <div style="font-weight: bold">
            总里程：
          </div>
          100Km
        </div>
        <div class="col-12 col-xl-6 mb-3">
          <div style="font-weight: bold">
            发动机温度：
          </div>
          30℃
        </div>
        <div class="col-12 col-xl-6 mb-3">
          <div style="font-weight: bold">
            总运行时间：
          </div>
          <app-timer [initialTime]="car?.totalTime"
                     [paused]="!car?.startDate"></app-timer>
        </div>
        <div class="col-12 col-xl-6 mb-3">
          <div style="font-weight: bold">
            连续运行时间：
          </div>
          <app-timer [initialTime]="runningTime" [paused]="!car?.startDate"></app-timer>
        </div>
      </div>
      <ng-template #carTitle>
        <i nz-icon theme="outline" type="car"></i> 车辆信息
      </ng-template>
    </nz-card>
  </div>
</div>
