<nz-breadcrumb class="mb-3">
  <nz-breadcrumb-item>
    人事管理
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    {{role}}
  </nz-breadcrumb-item>
</nz-breadcrumb>
<button (click)="this.isVisible = true;"
        [nzType]="'primary'"
        class="mb-3"
        nz-button>添加{{role}}
</button>
<nz-modal [(nzVisible)]="isVisible"
          nzTitle="驾驶员信息"
          nzOkText="添加"
          (nzOnCancel)="this.isVisible = false"
          (nzOnOk)="handleOk()"
          [nzOkLoading]="okLoading">
  <form nz-form [formGroup]="userForm">
    <nz-form-item>
      <nz-form-label nzSm="4" nzXs="24" nzFor="employeeId">工号</nz-form-label>
      <nz-form-control nzSm="18" nzXs="24">
        <nz-input-number id="employeeId" formControlName="employeeId"></nz-input-number>
        <nz-form-explain *ngIf="userForm.get('employeeId').dirty && userForm.get('employeeId').errors">The input is not
          valid
          E-mail!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSm="4" nzXs="24" nzFor="username">用户名</nz-form-label>
      <nz-form-control nzSm="18" nzXs="24">
        <input id="username" type="text" nz-input formControlName="username">
        <nz-form-explain *ngIf="userForm.get('username').dirty &&
         userForm.get('username').errors">Please input your
          username!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSm="4" nzXs="24" nzFor="password">密码</nz-form-label>
      <nz-form-control nzSm="18" nzXs="24">
        <input id="password" type="password" nz-input formControlName="password">
        <nz-form-explain *ngIf="userForm.get('password').dirty &&
         userForm.get('password').errors">The input is not
          valid
          E-mail!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSm="4" nzXs="24" nzFor="name">姓名</nz-form-label>
      <nz-form-control nzSm="18" nzXs="24">
        <input id="name" type="text" nz-input formControlName="name">
        <nz-form-explain *ngIf="userForm.get('name').dirty &&
         userForm.get('name').errors">The input is not
          valid
          E-mail!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSm="4" nzXs="24" nzFor="gender">性别</nz-form-label>
      <nz-form-control nzSm="18" nzXs="24">
        <nz-radio-group id="gender" formControlName="gender" nzName="radioGroup">
          <label nz-radio nzValue="MAN">男</label>
          <label nz-radio nzValue="WOMAN">女</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSm="4" nzXs="24" nzFor="age">年龄</nz-form-label>
      <nz-form-control nzSm="18" nzXs="24">
        <nz-input-number id="age" formControlName="age"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
<nz-table #usersTable
          [nzData]="users"
          [nzLoading]="loading"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          [nzShowSizeChanger]="true"
          [nzTotal]="total"
          [nzScroll]="{x:'600px'}"
          [nzFrontPagination]="false"
          (nzPageIndexChange)="findAllByRoleName()"
          (nzPageSizeChange)="findAllByRoleName(true)">
  <thead (nzSortChange)="changeSort($event)">
  <tr>
    <th nzShowSort
        [nzSortKey]="'employeeId'">工号
    </th>
    <th>用户名</th>
    <th>姓名</th>
    <th>性别</th>
    <th>年龄</th>
    <th>加入时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of usersTable.data">
    <td>{{user.employeeId}}</td>
    <td>{{user.username}}</td>
    <td>{{user.name}}</td>
    <td>{{user.gender|gender}}</td>
    <td>{{user.age}}</td>
    <td>{{user.createdDate|date:'yyyy-M-d'}}</td>
    <td>
      <a nz-popconfirm
         [nzTitle]=popConfirmTitle
         (nzOnConfirm)="confirm(user.employeeId)"
         nzPlacement="leftTop">删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<ng-template #popConfirmTitle>
  确定要删除这个{{role}}?
</ng-template>
