<nz-breadcrumb class="mb-3">
  <nz-breadcrumb-item>
    车辆管理
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    {{name}}
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div class="mb-4 row">
  <div class="col-4 col-md-6 col-lg-7">
    <button (click)="this.isVisible = true"
            [nzType]="'primary'"
            nz-button>添加{{name}}
    </button>
    <nz-modal [(nzVisible)]="isVisible"
              nzTitle="车辆信息"
              nzOkText="添加"
              (nzOnCancel)="this.isVisible = false"
              (nzOnOk)="handleOk()"
              [nzOkLoading]="okLoading">
      <form nz-form [formGroup]="carForm">
        <nz-form-item>
          <nz-form-label nzSm="4" nzXs="24" nzFor="carId">编号</nz-form-label>
          <nz-form-control nzSm="18" nzXs="24">
            <nz-input-number id="carId" formControlName="carId"></nz-input-number>
            <nz-form-explain *ngIf="carForm.get('carId').dirty && carForm.get('carId').errors">The input is not
              valid
              E-mail!
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-modal>
  </div>
  <div class="col-8 col-md-6 col-lg-5">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input #searchBox (input)="searchTerms.next(searchBox.value)" nz-input
             placeholder="输入编号进行搜索" type="text">
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon type="search"></i>
    </ng-template>
  </div>
</div>
<div class="row">
  <div *ngFor="let car of cars" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-3">
    <a [routerLink]="['./',car.carId]">
      <nz-card [nzBodyStyle]="{padding:'6px'}" [nzCover]="coverTemplate" nzHoverable>
        <div>编号:{{car.carId}}</div>
      </nz-card>
    </a>
    <ng-template #coverTemplate>
      <img *ngIf="car.snapshot; else elseBlock" alt="example" [src]="car.snapshot.id|image"/>
    </ng-template>
    <ng-template #elseBlock>
      <img alt="" src="https://via.placeholder.com/320x240"/>
    </ng-template>
  </div>
</div>
<div *ngIf="cars.length===0" class="d-flex" style="padding-top: 50px">
  <nz-empty class="mx-auto"></nz-empty>
</div>
<nz-pagination
  class="d-flex justify-content-end mt-4"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  [nzTotal]="total"
  [nzShowSizeChanger]="true"
  (nzPageIndexChange)="findAll()"
  (nzPageSizeChange)="findAll(true)"></nz-pagination>
