<radial-gauge
  [value]="value"
  animation-duration="1000"
  animation-rule="linear"
  border-inner-width="0"
  border-middle-width="0"
  border-outer-width="5"
  border-shadow-width="0"
  border-shadow-width="0"
  borders="false"
  borders="true"
  color-border-outer="#000"

  color-border-outer-end="#555"
  color-needle-shadow-down="#222"
  color-plate="rgb(255,255,255)"

  font-numbers-size="50"

  font-units-size="50"

  height="135"
  highlights='[
        {"from": 0, "to": 15, "color": "rgba(200, 10, 10, .5)"},
        {"from": 15, "to": 35, "color": "rgba(200, 200, 50, .5)"},
        {"from": 80, "to": 100, "color": "rgba(50, 200, 50, .3)"}
    ]'
  highlights-width="25"
  major-ticks="E,,F"
  max-value="100"
  min-value="0"
  minor-ticks="2"

  needle-circle-inner="false"
  needle-circle-outer="true"
  needle-circle-size="7"
  needle-type="arrow"
  needle-width="2"
  numbers-margin="5"
  start-angle="120"
  stroke-ticks="false"

  ticks-angle="120"
  units="Battery"

  value-box="false"
  width="135"
>
</radial-gauge>
