<nz-alert class="mb-3 d-block d-sm-none"
          nzMessage="请将手机切换为横屏进行操作！"
          nzShowIcon
          nzType="warning">
</nz-alert>
<div #mainContainer [ngClass]="{'fullscreen':isFullscreen}"
     class="row"
     style="background-color: #f0f2f5">
  <div class="mb-3 col-12 col-lg-3">
    <div class="mb-3">
      <app-weather></app-weather>
    </div>
    <div class="mb-3">
      <nz-card [nzBodyStyle]="{'padding':'0'}" [nzTitle]="liveTitle" class="card" nzHoverable>
        <img *ngIf="car?.liveUrl;else elseBlock" [src]="car.liveUrl" alt="live"
             style="width: 100%">
        <ng-template #elseBlock>
          <img alt="live" src="https://via.placeholder.com/320x240" style="width: 100%">
        </ng-template>
      </nz-card>
    </div>
    <ng-template #liveTitle>
      <i nz-icon nzTheme="outline" nzType="video-camera"></i> Live
    </ng-template>
    <div #useRatio>
      <nz-card [nzBodyStyle]="{'padding-bottom':'5px', 'padding-top':'7px',
      'padding-left':'0','padding-right':'0'}" nzHoverable nzTitle="使用率">
        <app-use-ratio-indicator
          [view]="[useRatio.offsetWidth,useRatio.offsetWidth*0.5]">
        </app-use-ratio-indicator>
      </nz-card>
    </div>
  </div>
  <div class="mb-3 col-12 col-lg-6">
    <div class="mb-3">
      <nz-card [nzBodyStyle]="{'padding':'0'}" nzHoverable>
        <app-model [carId]="carId"></app-model>
      </nz-card>
    </div>
    <div>
      <nz-card [nzBodyStyle]="{'padding':'0'}" [nzTitle]="dashboardTitle" nzHoverable>
        <div class="pt-4 mb-3 d-flex justify-content-around">
          <div>
            <app-battery-indicator></app-battery-indicator>
          </div>
          <div class="d-flex mb-3 align-items-center">
            <button (click)="startDrive()" [disabled]="car?.startDate||!available"
                    class="mr-4" nz-button nzShape="circle" nzSize="large"
                    nzType="primary">
              <i nz-icon nzTheme="outline" nzType="caret-right"></i>
            </button>
            <button (click)="finishDrive()" [disabled]="!car?.startDate||!available"
                    nz-button nzShape="circle" nzSize="large" nzType="danger">
              <i nz-icon nzTheme="outline" nzType="pause"></i>
            </button>
          </div>
          <div>
            <app-speedometer></app-speedometer>
          </div>
        </div>
      </nz-card>
      <ng-template #dashboardTitle>
        <i nz-icon nzTheme="outline" nzType="dashboard"></i> 仪表盘
      </ng-template>
    </div>
  </div>
  <div class="col-12 col-lg-3">
    <div>
      <nz-card [nzBodyStyle]="{'padding':'0'}" [nzTitle]="driverTitle" class="mb-3 card"
               nzHoverable>
        <div class="p-4">
          <div *ngIf="!car?.currentDriver;else busy">
            无人使用
          </div>
          <ng-template #busy>
            <div class="d-flex justify-content-center mb-4">
              <div style="width: 43%">
                <img [src]="car.currentDriver.avatar.id|image" alt=""
                     class="rounded-circle" style="width: 100%">
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div style="font-weight: bold">
                  工号：
                </div>
                {{car.currentDriver.employeeId}}</div>
              <div class="col-3">
                <div style="font-weight: bold">
                  姓名：
                </div>
                {{car.currentDriver.name}}
              </div>
              <div class="col-3">
                <div style="font-weight: bold">
                  性别：
                </div>
                {{car.currentDriver.gender|gender}}
              </div>
              <div class="col-3">
                <div style="font-weight: bold">
                  年龄：
                </div>
                {{car.currentDriver.age}}
              </div>
            </div>
          </ng-template>
          <ng-template #driverTitle>
            <i nz-icon theme="outline" type="user"></i> 驾驶员
          </ng-template>
        </div>
      </nz-card>
    </div>
    <div #statistic class="mb-3">
      <nz-card [nzBodyStyle]="{'padding-bottom':'14px', 'padding-top':'14px',
      'padding-left':'0','padding-right':'0'}" nzTitle="近7天使用情况">
        <app-statistic [view]="[statistic.offsetWidth,statistic.offsetWidth*0.5]"></app-statistic>
      </nz-card>
    </div>
    <div>
      <nz-card [nzBodyStyle]="{'padding':'0'}" [nzTitle]="carTitle" nzHoverable>
        <div class="row pt-3 px-4">
          <div class="col-6 mb-2">
            <div style="font-weight: bold">
              编号：
            </div>
            {{car?.carId}}
          </div>
          <div class="col-6 mb-2">
            <div style="font-weight: bold">
              类型：
            </div>
            {{car?.carName|car}}
          </div>
          <div class="col-6 mb-2">
            <div style="font-weight: bold">
              里程：
            </div>
            100Km
          </div>
          <div class="col-6 mb-2">
            <div style="font-weight: bold">温度：
            </div>
            30℃
          </div>
          <div class="col-6 mb-2">
            <div style="font-weight: bold">
              总运行时间：
            </div>
            <app-timer [initialTime]="car?.totalTime"
                       [paused]="!car?.startDate"></app-timer>
          </div>
          <div class="col-6 mb-3">
            <div style="font-weight: bold">
              连续运行时间：
            </div>
            <app-timer [initialTime]="runningTime" [paused]="!car?.startDate"></app-timer>
          </div>
        </div>
        <ng-template #carTitle>
          <i nz-icon theme="outline" type="car"></i> 车辆信息
        </ng-template>
      </nz-card>
    </div>
  </div>
</div>
