<div class="d-flex align-items-center">
  <a [routerLink]="['/']" class="brand mr-auto">我的车辆</a>
  <button
    [nzContent]="popoverTemplate"
    [nzOverlayClassName]="'popover'"
    nz-button
    nz-popover
    nzPlacement="bottomRight"
    nzShape="circle"
    nzSize="large"
    nzTrigger="click">
    <i nz-icon theme="outline" type="user"></i>
  </button>
</div>
<ng-template #popoverTemplate>
  <div class="d-flex align-items-center px-4 py-3">
    <nz-avatar [nzSrc]="currentUser.avatar.id|image" class="mr-3" nzSize="large">
    </nz-avatar>
    <div>
      <strong>{{currentUser.name}}</strong>
      <div>工号：{{currentUser.employeeId}}</div>
    </div>
  </div>
  <ul nz-menu nzMode="inline">
    <li nz-menu-divider></li>
    <li (click)="logout()" nz-menu-item>
      <a>
        <i nz-icon theme="outline" type="logout"></i>
        退出登陆</a>
    </li>
  </ul>
</ng-template>
