.img-fluid {
  max-width: 100%;
  height: auto;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: 0;
}

.ant-drawer-body {
  padding: 0;
}

.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
}

.popover .ant-popover-inner-content {
  padding: 0;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09) !important
}
