<nz-tabset>
  <nz-tab [nzTitle]="liveTitle">
    <ng-template nz-tab>
      <app-operation-panel [carId]="carId"></app-operation-panel>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="驾驶员">
    <ng-template nz-tab>
      <app-drivers [carId]="carId"></app-drivers>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="管理">
    <ng-template nz-tab>
      <app-car-profile [carId]="carId"></app-car-profile>
    </ng-template>
  </nz-tab>
</nz-tabset>
<ng-template #liveTitle>
  <i nz-icon type="play-circle" theme="outline"></i> Live
</ng-template>
