<nz-tabset>
  <nz-tab nzTitle="操作面板">
    <ng-template nz-tab>
      <app-operation-panel [carId]="carId"></app-operation-panel>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="驾驶员">
    <ng-template nz-tab>
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8 col-12">
          <app-drivers [carId]="carId"></app-drivers>
        </div>
      </div>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="管理">
    <ng-template nz-tab>
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-6 col-12">
          <app-car-profile [carId]="carId"></app-car-profile>
        </div>
      </div>
    </ng-template>
  </nz-tab>
</nz-tabset>
