<nz-breadcrumb class="mb-3">
  <nz-breadcrumb-item>
    <i nz-icon type="home"></i> 我的车辆
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div class="row">
  <div *ngFor="let car of cars" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-3">
    <a [routerLink]="['/cars',car.carId]">
      <nz-card [nzBodyStyle]="{padding:'6px'}" [nzCover]="coverTemplate" nzHoverable>
        <div>编号:{{car.carId}}</div>
      </nz-card>
    </a>
    <ng-template #coverTemplate>
      <img alt="example" src="https://via.placeholder.com/400x230"/>
    </ng-template>
  </div>
</div>
